

* {
    padding:0;
    margin:0;
}

body {
    font-family:Verdana, Geneva, sans-serif;
    font-size:18px;
    background-color:#FFF
}

header {
    width:100%;
    background-color:#7e7e7e;
    z-index:1000;
}

.menu-bar {
    color:#FFF;
    font-size:25px;
    cursor:pointer;
    padding:10px 12px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
}

.menu-bar:hover {
    background-color:rgba(0, 0, 0, 0.1);
    border-radius:50px;
}

#tag-menu {
    display:none;
}


#tag-menu:checked ~ div.jw-drawer {
 animation: slide-in 0.5s ease;
 animation-fill-mode: forwards;
}

.jw-drawer {
    position: fixed;
    left:-250px;
    background-color:#332c2c;
    height:100%;
    z-index:100;
    width:230px;
    animation: slide-out 0.5s ease;
    animation-fill-mode: forwards;
}

.jw-drawer ul li {
    list-style:none;
}

.jw-drawer ul li a {
    padding:10px 20px;
    text-decoration:none;
    display:block;
    color:#FFF;
    text-align: center;
    border-top:0.5px solid rgb(255, 255, 255);
}

.jw-drawer ul li a:hover{
    background-color:#7e7e7e;
}

.jw-drawer ul li a i {
    width:50px;
    height:35px;
    text-align:center;
    padding-top:15px;
}

@keyframes slide-in {
 from {left: -280px;}
 to {left: 0;}
}

@keyframes slide-out {
 from {left: 0;}
 to {left: -280px;}
}


.content{
  padding: 0px 0 0 250px;
}

.main {
    width: 100%;
    text-align: center;
    background-color: #6c6f74;
}
.title{
    background-color: #eef1f7;
    color: rgb(14, 11, 11);
    height: 40px;
    text-transform: uppercase;
}
.title button{
    background-color: greenyellow;
    border: none;
    padding: 8px 5px;
    margin-top: 4px;
    border-radius: 10px;
    box-shadow: #fafdc5;
    cursor: pointer;
}
.title button:hover{
    background-color: #617085;
}
.widget-1 {
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
	float: left;
    width: 30%;
}
.widget-1 .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
    font-weight: 600;

}
.chart img{
    width: 150px;
    margin: 20px;
}
.chart h4{
    color: green;
    font-size: 40px;
}
.widget-2 {
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
    width: 30%;
    overflow: hidden;
    display: inline-block;
}
.widget-2 .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
    font-weight: 600;
    
}
.widget-3 {
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
	float: right;
    width: 30%;
    overflow: hidden;
}
.widget-3 .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
    font-weight: 600;
    
}

/* tabel */

table.list tr td{
    border-style: hidden;
    font-size: 15px;
}

table.list{
    border-collapse: collapse;
    width: 99%;
    margin-left: 0;
    height: 100px;
}
.list tr:nth-child(even){
    background-color: #f2f2f2;
}
.list tr:hover{
    background-color: #ddd;
}
.list th{
    background-color: #617085;
    color : #eef1f7;
    font-size: 17px;
}
table .button a{
    background-color:#f2f2f2;
    color: black;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.list button{
    background-color: greenyellow;
    border: none;
    padding: 5px 3px;
    border-radius: 4px;
    box-shadow: #fafdc5;
    cursor: pointer;
    text-transform: uppercase;
}
.list button:hover{
    background-color: #617085;
}
.komen{
    background: #f3f2f4;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.komen textarea{
    width: 100%;
}

/* ****************login********************* */

.body-login{
    background: url(login-juve.jpg);
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.form-login{
    border: 3px solid #ccc4c4;
    
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    background-color: rgb(0, 255, 17);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}
.cancelbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #ff1100;
}
.img-logo-login{
    text-align: center;
    margin: 24px 0 12px 0;
}
img.login-logo{
    width: 40%;
    border-radius: 50%;
}
.login{
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}