@import url('https://fonts.googleapis.com/css?family=Catamaran');

* {
    text-decoration: none;
}
body{
    background-color: #f3f3f3;
}
header{
    background-color: #fff;
    width: 100%;
    height: 100px;
    margin-top: -20px;
}
header .header-brand{
    font-family: 'catamaran', sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
    
}
header nav ul li{
    float: left;
    list-style: none;
    padding: 0 16px;
}
header nav ul li a{
    font-family: 'catamaran', sans-serif;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}
header nav ul li a:hover, .header-login:hover, .header-brand:hover{
    background-color: #111;
    color: #fff;    
}
header .header-login{
    display: none;
}


@media only screen and (min-width : 1000px){
    header .header-brand{
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }
    header nav ul{
        margin: 20px 0px 0px 20px;
        float: left;
    }
    header nav ul li a{
        line-height: 60px;
    }
    header .header-login{
        display: block;
        font-family: 'catamaran', sans-serif;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0px 20px;
    }
}

/* index */

.index-banner{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    margin-top: 50px auto;
}
.taxt-banner{
    display: table-cell;
    vertical-align: middle;
}
.index-banner h2{
    font-family: 'catamaran', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.index-banner h1{
    font-family: Cormorant Garamont;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}
.index-link div{
    margin: 8px;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #ecececb7;
}
.index-link-content div{
    margin: 20px ;
    width: calc(100% - 32px);
    height: 100%;
    background-color: #ecececb7;
}
.content-text p{
    text-align: justify;
    text-justify: inter-word;
}

.link-content-2 {
    color: #111;
    float: right;
}
.link-content-2 p{
    margin-bottom: 20px;
}
.link-content-2 img{
    width: calc(25% - 48px);
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

@media only screen and (min-width : 1000px){
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
    .index-banner{
        height: 460px;
    }  
    
    .index-banner h1{
        display: block;
        width: 560px;
        margin: 0 auto;
    }
    .index-link div{
        margin: 25px 10px;
        height: 250px;
        background-color: #ecececb7;
        float: left;
    }
}

/* footer */

footer{
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin: 20px;
    background-color: #111;
    overflow: hidden;
}
footer ul{
    width: fit-content;
    float: left;
    padding-left: 20px;
}
footer ul li{
    display: block;
    list-style: none;
}
footer ul li a{
    font-family: 'catamaran', sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
}
.footer-link{
    margin-top: -20px;
}
.footer-addres{
    display: inline-block;
    color: #fff;
    margin-top: -22px;
}  
.footer-addres-2{
    display: inline-block;
    color: #fff;
    margin-top: -22px;
}  
.footer-sm{
    width: 30px;
    float: right;
    margin-top: -10px;
}
.footer-sm img{
    width: 100%;
    margin-bottom: 10px;
}